<h1 class="text-black text-2xl font-bold py-3">Importacion de archivos CSV</h1>
<p>
    Esta aplicacion permite cargar un archivo CSV y lo agrega a la base de datos.
    Este Archivo debe estar delimitado por tabs, debe tener las siguientes columnas:
</p>
    <ul class="list-disc ml-6 mb-4">
    <li class="font-bold">comprador</li>
    <li class="font-bold">descripci칩n del item</li>
    <li class="font-bold">precio del item</li>
    <li class="font-bold">total de items</li>
    <li class="font-bold">direcci칩n de vendedor</li>
    <li class="font-bold">vendedor</li>
    </ul>
<p class="mb-6">
    Adem치s debera tener una columna encabezado con el nombre de las columnas.
    Para proceder a subir el archivo dar click en el siguiente bot칩n.
</p>
<%= link_to "Procesar",  procesar_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>